.mainBox__title{
    font-weight: bold;
    border-bottom : 3px solid var(--main-color);
    letter-spacing: 3px;
   margin-bottom: 29px;
   
}

.about{
    padding: 30px;
  
   
}
.section-one , .section-two{
    font-size: 16px;
    margin-bottom: 10px;
}
.section-three{
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 600px){
    .section-one , .section-two{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .section-three{
        font-size: 16px;
        font-weight: 600;
    }

}