/* Default styles for links and images */

.custom-navbar{
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.navItem{
    letter-spacing: 1px;
    font-weight: 700;
}




.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
   

}

.header__icons{
    margin: 3px;
    padding: 6px;
    cursor:pointer
}

.header__icons:hover{
    color: blue;
}

.header__smallscreen{
    display: none;
}


.hire-btn{
    background-color: var(--main-color);
    padding: 2px 5px;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 10px;
    gap: 10px;
    font-weight: 600;
    transition: all .2s;

}
.hire-btn:hover{
background-color: #cfad3bd1;
border: 2px solid #dfd0a0;
}

.Button{
    background-color: aliceblue;
}


@media (max-width:991px){
    .header__lap{
        display: none;
    }
    .header__smallscreen{
        display: block;
    }
}