
/* 
.left__side{
   background-image: "../Image/logo/contact.png";
   width: 500px;
   background-position: cover;

} */
.right__side{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form {
   background-color: white;
   display: flex;
   flex-direction: column;
   width: 450px;
   height: 450px;
   padding: 12px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);

   
 }

 .input__wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
 }

 

 input {
   width: 100%; 
   padding: .8em 1em ;
   margin: 10px ;
   margin-bottom: 2px;
   margin-left: 0;
   border-radius: 5px;
   border: 1px solid transparent;
   background-color: #ddd;
   color: #666666;
   outline: none;
   font-weight: 500;
   font-size: 16px;
   transition: all .2s;
  
 }

input:hover{
   background-color: #eeeeee;
   cursor: pointer;
}
 
input:focus{
   color: #333333;
   cursor: text;
   border-color: #333333;
   background-color: #fbf6f6;
 }


 /** text area **/
 .messagebox{
   margin: 10px;
   background-color: #ddd;
   color: #666666;
   outline: none;
   border-radius: 6px;
   padding: 1em;
   border: 2px solid transparent;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.6;
   flex: 1;
   margin-bottom: 8px;
   transition: all 0.2s;
 }
 

 .messagebox:hover{
   background-color: #eeeeee;
   cursor: pointer;
 }

 /** when clicked on text area **/
  .messagebox:focus{
   color: #333333;
   cursor: text;
   border-color: #333333;
   background-color: #fbf6f6;
   
 }

 .btn-submit{
  background-color: var(--main-color);
  color: #000;
  width: 30%;
  margin-left: 120px;
  margin-top: 5px;
  margin-bottom: 8px;
  padding: .5rem 2.2rem;

  text-align: center;
  transition: all .2s;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all .2s ease-in;

 
 
  font-size: 18px;


  font-weight: 600;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: all .2s;
 }
 .btn-submit:hover{
  background-color: #2e2e2e9c;
  cursor: pointer;
  border: 2px solid #121111;
 }

 .btn-submit:focus{
  background-color: #292727;
  color: black;

 }

 
 @media (max-width: 550px){

  .right__side{
    margin-top: 25px;
  }
  form{
    width: 17rem;
    border-radius: 8px;
  }
  input{
    margin: 5px;
    font-size: 16px;
    padding: .2rem;
  }
.input__wrapper{
  padding: 5px;
}
  .messagebox{
    margin: 7px;
    padding: .5em;
  }
  .btn{
    margin: 10px;
    margin-left: 75px;
    width: 40%;
   

  }

 }